<mat-paginator class="mb-2" [length]="totalProducts" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 20, 50]"
  (page)="handlePageEvent($event)">
</mat-paginator>

<div class="max-h-[90vh] overflow-auto">
  <mat-grid-list *ngIf="!error" gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
    <mat-grid-tile *ngFor="let product of paginatedProducts; trackBy: trackByProductId">
      <div class="w-full">
        <mat-card class="shadow-lg p-2" [ngClass]="{'text-center': !fullWidthMode, }" *ngIf="product">
          <div [ngClass]="{'flex': fullWidthMode}">
            <a [routerLink]="'/product-details/' + product.slug">
              <img class="mb-1 mx-auto min-w-24"
                [ngClass]="{'h-[160px]': !fullWidthMode, 'h-[270px] w-[270px]': fullWidthMode}" [src]="product.image"
                alt="{{ product.name }}" />
            </a>

            <mat-card-content class="w-full" [ngClass]="{'px-2 flex flex-col justify-between': fullWidthMode}">
              <a [routerLink]="'/product-details/' + product.slug">
                <span class="font-bold text-xs uppercase mb-1">{{ product.category }}</span>
                <p class="truncate hover:whitespace-normal" *ngIf="!fullWidthMode">{{ product.name }}</p>
                <p class="truncate text-wrap max-h-[50px]" *ngIf="fullWidthMode">{{ product.name }}</p>
                <p class="text-xs text-wrap max-h-[140px] overflow-auto" *ngIf="fullWidthMode"> {{ product.description }} </p>
              </a>
              <app-rating class="mt-2" [rating]="product.rating" [numReviews]="product.numReviews"></app-rating>

              <div class="flex justify-between mr-1">
                <span class="text-red-400">{{ product.price | currency }}</span>
                <button class="text-blue-700 hover:text-blue-900 " (click)="onAddToCart(product)">
                  <mat-icon class="mr-1">add_shopping_cart</mat-icon>
                  <span class="text-sm" >ADD TO CART</span>
                </button>
              </div>
            </mat-card-content>
          </div>

        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
