/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding-bottom: 20px;
}

.header-padding {
  padding-top: 50px;
}

.full-width {
  width: 100%;
}

.mat-step-header {
  pointer-events: none !important;
}

.mat-list-item {
  height: auto !important;
  padding: 10px 0 !important;
}

.warning-alert {
  background-color: #f0c000 !important;
  color: #ffffff;
  padding: 8px;
  border-radius: 16px;
  text-align: center;
}
.error-alert {
  background-color: red !important;
  color: #ffffff;
  padding: 8px;
  border-radius: 16px;
  text-align: center;
}
.success-alert {
  background-color: green !important;
  color: #ffffff;
  padding: 8px;
  border-radius: 16px;
  text-align: center;
}

.thumbnail {
  width: 80px;
  max-height: 100px;
}

.divider {
  height: 20px;
}

@media only screen and (max-width: 480px) {
  .mat-vertical-content {
    padding: 0 !important;
  }
}

mat-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.spinner-container {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

.blog-1 {
  margin-left: 0.2rem;
}

/* Hide sidebar on small screens */
@media (max-width: 768px) {
  .sidenav {
    display: none;
  }
}

/* Show sidebar on large screens */
@media (min-width: 769px) {
  .sidenav {
    display: block;
  }
}

 /* CSS rule */
a[target="_blank"][rel="noopener"] {
  /* CSS properties */
}