.swiper {
  max-height: 350px;
  max-width: 100% auto;
  margin: auto;
}
.slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: white; */
}
img {
  max-height: 300px;
  width: 70%;
  object-fit: cover;
}

.white-bg {
  background-color: white;
}